/* .comment {
    margin-bottom: 20px;
}

.comment__text {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.comment__user {
    font-size: 18px;
    font-weight: 700;
}

.comment__user span {
    font-style: italic;
} */